/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Blanco */
    color: #3c3c3c; /* Gris oscuro */
    scroll-behavior: smooth;
}



/* Encabezado */
.encabezado {
    background-image: url('icons/fondo.jpg');

    background-size: cover; 
    background-position: center center; /* Centra la imagen */
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
    padding: 0 20px; 
    box-sizing: border-box;
}

.titulo-principal {
    font-size: 5rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e3a8a; /* Azul oscuro */
    margin: 0;
}

.subtitulo {
    font-size: 1.5rem;
   
    color: #1e3a8a; /* Azul oscuro */
}

.descripcion {
    font-size: 1.25rem;
    margin-top: 1rem;
    color: #6b7280; /* Gris */
}

.boton-cta {
    background-color: #1e3a8a; /* Azul oscuro */
    color: #ffffff; /* Blanco */
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
}

.boton-cta:hover {
    background-color: #1e40af; /* Azul más oscuro */
}

/* Sección de oferta */
.seccion-oferta {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;

}


.container {
    background-color: #ffffff;
    color: #121212;
    padding: 0px 24px 15px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #F2BBBB;
    transition: all 0.3s ease;
  }

  .container:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .titulo {
    font-size: 2rem;
    font-weight: bold;
    color: #F2AEBB;
    margin-bottom: 8px;
    text-align: center;
    margin: 0;
  }

  
  .titulo2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F2AEBB;
    margin-bottom: 8px;
    text-align: center;
    margin: 0;
  }

  .subtitulo {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
  }

  .lista {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 16px;
  }

  .lista li {
    display: flex;
    align-items: center;
    color: #1e3a8a;
    margin-bottom: 8px;
  }

  .lista li span {
    color: #F2BBBB;
    margin-right: 8px;
    font-size: 1.25rem;
  }


.descripcion-card{
    text-align: center;
}
.subtitulo-oferta {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #4b5563; /* Gris */
}

.descripcion-oferta {
    color: #6b7280; /* Gris */
}



/* Sección de calidad */
.seccion-calidad {
    margin-bottom: 3rem;
    padding: 2rem;
}

.titulo-calidad {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #F2AEBB;
}

.grid-calidad {
    display: grid;
   
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 

    gap: 2rem;
}

.item-calidad {
    text-align: center;
    background-color: #ffffff;
    padding:4px 24px 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border: 1px solid #F2BBBB;
    transition: all 0.3s ease;
}

.subtitulo-calidad {
    font-size: 1.25rem;
    font-weight: bold;
    color: #15BFAE; 
}

.descripcion-calidad {
    color: #6b7280; /* Gris */
}

.logo-image {
  width: 100%;
  max-width: 200px; 
  height: auto;
  display: block;
  margin: 0 auto; 
  background-color: transparent; 
  border-radius: 50%;
}
/* Estilos básicos para el footer */
.footer {
    background-color: #F2BBBB;
    
    padding: 5px;
    text-align: center;
  }
  
  .titulo-formulario {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .descripcion-contacto {
    font-size: 1rem;
    margin-bottom: 20px;
    opacity: 0.7;
  }
  
  .redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .enlace-redes {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    outline: none;
    transition: color 0.3s ease;
  }
  
  .enlace-redes:hover {
    color: #15BFAE; /* Color verde al hacer hover */
  }
  
  .enlace-redes i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
  }
  
  .cuadrícula {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 26px;
}

@media (min-width: 640px) {
    .cuadrícula {
        grid-template-columns: 1fr 1fr;
    }
}

.flexible {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto-principal {
    color: #404040;
}

.texto-muted {
    color: #737373;
}


.fondo-tarjeta {
  background-color: #ffffff;
  color: #121212;

  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #F2BBBB;

}

.fondo-tarjeta2 {
  background-color: #ffffff;
  color: #121212;
padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #F2BBBB;

}



.img-tesis{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tesis{
  margin: 2rem;
}
  


/* Media Queries para hacerla responsiva */
@media (max-width: 768px) {
  .logo-image {
    max-width: 250px; /* Cambia el tamaño para pantallas más grandes */

  }
  .seccion-oferta {
    padding: 1rem !important;
  }
  .contenedor-principal .titulo-principal{
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
.contenedor-principal .titulo-principal{
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .logo-image {
    max-width: 300px; /* Tamaño más pequeño para pantallas aún más grandes */
  }
}


.item-calidad:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffeded;
}